.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    margin: auto;
}

.card {
    margin-bottom: 1vh !important;
}

.inputSearch {
    width: 12vw;
}

.cartContainer {
    width: 60vw
}

.homeContainer {
    width: 100vw;
    height: 95vh;
    background-color: #40a9ff;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
}

.title {
    padding-right: 5vh;
    font-size: 8em;
}

.tent {
    width: 50vh;
    height: 50vh;
}
